
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;

    &_face {
        background-image: url("../media/section/face.jpg");
        background-position: center;
        background-size: cover;
    }
}

.section__title {
    font-size: 63px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
}

@media (max-width: 1310px) {
    .section__title {
        font-size: 44px;
    }
}

@media (max-width: 768px) {
    .section__title {
        font-size: 38px;
    }
}

@media (max-width: 480px) {
}
