
<section class="section section_avatars">
    <div class="container">
        <div class="avatars">
            <div class="avatars__body">
                <div class="avatars__item">
                    <div class="avatars__media">
                        <img src="../media/avatars/img-1.jpg" alt="">
                    </div>
                    <div class="avatars__name">Lorem</div>
                </div>
            </div>
        </div>
    </div>
</section>
