
<section class="section section_base">
    <div class="container">
        <div class="base">
            <h2 class="section__title base__title">База знаний</h2>
            <div class="base__subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi laudantium assumenda molestiae deserunt minima placeat perspiciatis autem aliquid vel ex.</div>
            <div class="base__body">
                <div class="base__item">
                    <div class="base__name">Аватарки</div>
                    <div class="base__media">
                        <img src="../media/base/img-1.jpg" alt="">
                    </div>
                    <div class="base__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, facere.</div>
                    <div class="base__btn">Просмотреть</div>
                </div>
                <div class="base__item">
                    <div class="base__name">Аватарки</div>
                    <div class="base__media">
                        <img src="../media/base/img-1.jpg" alt="">
                    </div>
                    <div class="base__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, facere.</div>
                    <div class="base__btn">Просмотреть</div>
                </div>
                <div class="base__item">
                    <div class="base__name">Аватарки</div>
                    <div class="base__media">
                        <img src="../media/base/img-1.jpg" alt="">
                    </div>
                    <div class="base__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, facere.</div>
                    <div class="base__btn">Просмотреть</div>
                </div>
                <div class="base__item">
                    <div class="base__name">Аватарки</div>
                    <div class="base__media">
                        <img src="../media/base/img-1.jpg" alt="">
                    </div>
                    <div class="base__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, facere.</div>
                    <div class="base__btn">Просмотреть</div>
                </div>
            </div>
        </div>
    </div>
</section>
