<div class="cycyrbita">
    <div class="cycyrbita__box">
        <div class="cycyrbita__media">
            <img src="../media/cycyrbita/face.png" alt="">
        </div>
        <div class="cycyrbita__name">Signora Cycyrbita</div>
    </div>
    <div class="cycyrbita__box">
        <div class="cycyrbita__title">Привет человек</div>
        <div class="cycyrbita__ description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas distinctio illum doloremque eligendi inventore reprehenderit explicabo tempora deserunt, dolore blanditiis.</div>
        <div class="cycyrbita__slider">
            <div class="cycyrbita__item">
                <div class="cycyrbita__slider-img">
                    <img src="../media/cycyrbita/img-1.jpg" alt="">
                </div>
                <div class="cycyrbita__slider-info">Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="cycyrbita__item">
                <div class="cycyrbita__slider-img">
                    <img src="../media/cycyrbita/img-2.jpg" alt="">
                </div>
                <div class="cycyrbita__slider-info">Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="cycyrbita__item">
                <div class="cycyrbita__slider-img">
                    <img src="../media/cycyrbita/img-3.jpg" alt="">
                </div>
                <div class="cycyrbita__slider-info">Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="cycyrbita__item">
                <div class="cycyrbita__slider-img">
                    <img src="../media/cycyrbita/img-4.jpg" alt="">
                </div>
                <div class="cycyrbita__slider-info">Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="cycyrbita__item">
                <div class="cycyrbita__slider-img">
                    <img src="../media/cycyrbita/img-5.jpg" alt="">
                </div>
                <div class="cycyrbita__slider-info">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
    </div>
</div>