
<section class="section section_face">
    <div class="face">
        <div class="face__logo">Alkotox</div>
        <div class="face__left">
            <h1 class="face__title">Lorem ipsum dolor sit amet.</h1>
            <div class="face__subtitle">Современное решение актуальных проблем</div>
        </div>
        <div class="face__right">
            <form class="form">
                <div class="form__title">Закажи прямо сейчас</div>
                <label class="form__item">
                    <span>Страна</span>
                    <select class="form__field">
                        <option value="Россия" selected>Россия</option>
                        <option value="Россия" selected>Россия 2</option>
                        <option value="Россия" selected>Россия 3</option>
                    </select>
                </label>
                <label class="form__item">
                    <span>Имя</span>
                    <input class="form__field" type="text">
                </label>
                <label class="form__item">
                    <span>Телефон</span>
                    <input class="form__field" type="text">
                </label>
                <div class="form__btn">Заказать</div>
            </form>
        </div>
    </div>
</section>
