
<div class="face">
    <div class="container">
        <%- include('header') %>
        <div class="face__body">
            <div class="face__title">Signora Cycyrbita</div>
            <div class="face__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nam tempora totam et repellat impedit, commodi, officia nemo aspernatur, rerum eos excepturi deserunt sit corporis. Earum reprehenderit ex dignissimos, distinctio aspernatur enim natus aliquam doloremque voluptatibus error aliquid libero facilis quod vel eius mollitia. Soluta natus maiores aliquid quasi laudantium?</div>
            <div class="face__btn btn">Наши работы</div>
        </div>
    </div>
</div>
