
<footer class="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__list">
                <div class="footer__subtitle">
                    <div class="footer__logo">Cyyrbita</div>
                </div>
                <div class="footer__item">г. Тыква, ул. Тыквенная 7, п. 56</div>
                <div class="footer__item"><a href="">Политика конфиденциальности</a></div>
            </div>
            <div class="footer__list">
                <div class="footer__subtitle">Посетителям</div>
                <div class="footer__item"><a href="">Главная</a></div>
                <div class="footer__item"><a href="">О нас</a></div>
                <div class="footer__item"><a href="">Наша команда</a></div>
                <div class="footer__item"><a href="">База знаний</a></div>
            </div>
            <div class="footer__list">
                <div class="footer__subtitle">Напиши нам</div>
                <form class="footer__form">
                    <div class="footer__field">
                        <input type="text" placeholder="Имя">
                    </div>
                    <div class="footer__field">
                        <textarea placeholder="Сообщение..."></textarea>
                    </div>
                    <div class="footer__field">
                        <button>Отправить</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer__copy"><span class="footer__lang">Русский</span> © Cycyrbita <span class="year">2021</span>. Все права защищены.</div>
    </div>
</footer>
