<header class="header">
    <div class="header__logo">Cycyrbita</div>
    <nav class="nav header__nav">
        <div class="nav__menu js-nav__menu">
            <div class="nav__item"><a href="" class="nav__link nav__link_active">Главная</a></div>
            <div class="nav__item"><a href="" class="nav__link">О нас</a></div>
            <div class="nav__item"><a href="" class="nav__link">Наша команда</a></div>
            <div class="nav__item"><a href="" class="nav__link">База знаний</a></div>
        </div>
        <div class="nav__close js-nav__close">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>