
<section class="section section_ingredients">
    <div class="container">
        <div class="ingredients">
            <div class="ingredients__body">
                <div class="ingredients__item">
                    <div class="ingredients__media">
                        <img src="../media/ingredients/img-1.jpg" alt="">
                    </div>
                    <div class="ingredients__name">ingredients</div>
                </div>
            </div>
        </div>
    </div>
</section>
