
<section class="section section_uslugi">
    <div class="container">
        <div class="uslugi">
            <div class="uslugi__title">Чем мы занимаемся</div>
            <div class="uslugi__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, aut. Repudiandae ipsam hic deserunt molestiae nemo in molestias tempora minima.</div>
            <div class="uslugi__body">
                <div class="uslugi__item">
                    <div class="uslugi__box">
                        <div class="uslugi__media"></div>
                        <div class="uslugi__dscription">Lorem ipsum dolor sit amet consectetur.</div>
                    </div>
                    <div class="uslugi__box">
                        <div class="uslugi__box-title">Lorem, ipsum dolor.</div>
                        <div class="uslugi__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero id, saepe porro dolorum velit labore quia laboriosam voluptatibus unde nihil!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
